ul li {
  margin-bottom: 5px;
}
.link-with-red-square {
  position: relative;
  padding-left: 15px;
}
a:before {
  content: "";
  position: absolute;
  left: 0;
  background: red;
  height: 10px;
  width: 10px;
}
